* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*navigation top*/
.nav-top {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
/*nav top menu*/
.nav-top ul {
    display: flex;
}
.nav-top ul li{
    padding: 10px;
}

.nav-top ul li a:hover {
    border-bottom: 1px solid black;
}

.nav-top-line {
    position: relative;
    margin: 1em;
    overflow: hidden;
    line-height: 1px;
}
.nav-top-line ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    
}
.nav-top-line li {
        flex-grow: 1;
        flex-basis: auto;
        margin: .25em 0;
        padding: 0 1em;
        text-align: center;
        border-left: 1px solid #ccc;
        background-color: #fff;
        letter-spacing: .05em;
        
}
.nav-brand {
    width: 200px;
}

/*navigation main*/
.nav-main {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    text-transform: uppercase;
}

/*nav principal menu*/
.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 10px;
    letter-spacing: .07em;
}

.nav-main ul li a:hover {
    border-bottom: 1px solid black;
}
/*show products*/
.showproducts {
    width: 100%;
    height: 550px;
    background: url('./img/bgpicture.png') no-repeat left center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction:  column;
    align-items: right;
    justify-content: right;
    letter-spacing: .07em;

}
.trianglebutton {
    display: inline;
    width: 150px;
    padding:10px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    background: url('./img/triangle.png') no-repeat right;
}
.image1 {
    width: 400px;
}
.strapline {
    background: #E0FF04;
    height: 60px;
    line-height: 60px;
}
.strapline h3 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: .200em;
}
.newinslider-separator {
    background: white;
    height: 50px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: .200em;
    font-size: 12px;
    
}
.newinslider-separator::before, .newinslider-separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #E0FF04;
}
.newinslider-separator::before {
    margin-right: 1em;
}
.newinslider-separator::after {
    margin-left: 1em;
}