* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: black;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;}
    .swiper-slide {
        width: 250px !important;
    }
    .slider-box {
        margin: 20px;
        height: 350px;
        width: 250px;
        position: relative;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.07em;
        font-size: 10px;
        /* border: 1px solid rgba(187, 187, 187, 0.40); */
        }
        .img-box img{
            max-width: 70%;
            max-height: 300px;
            margin-bottom: 10px;
        }
        .slider-box:hover{
            box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        }
        .slider-box:hover .img-box img{
            transform: scale(1.07);
            transition: all ease 0.3s;
        }
    .slider-box a {
        text-decoration: none;
        text-align: center;}
        
            .detail {
                text-transform: uppercase;
                padding-bottom: 5px;

            }
            .brand {
                color: grey;
            }
            .cart {
                border-bottom: 1px solid #E0FF04;
                text-transform: uppercase;
                padding-top: 5px;

            }
    
    .swiper-button-next {
        background-image: url('../img/arrow.png');
        margin-right: -10px;
        }
    .swiper-button-prev {
        background-image: url('../img/arrow.png');
        margin-left: -10px;
    }
    .swiper-wrapper {
        margin: 10px;
    }


a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*navigation top*/
.nav-top {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
/*nav top menu*/
.nav-top ul {
    display: flex;
}
.nav-top ul li{
    padding: 10px;
}

.nav-top ul li a:hover {
    border-bottom: 1px solid black;
}

.nav-top-line {
    position: relative;
    margin: 1em;
    overflow: hidden;
    line-height: 1px;
}
.nav-top-line ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    
}
.nav-top-line li {
        flex-grow: 1;
        flex-basis: auto;
        margin: .25em 0;
        padding: 0 1em;
        text-align: center;
        border-left: 1px solid #ccc;
        background-color: #fff;
        letter-spacing: .05em;
        
}
.nav-brand {
    width: 200px;
}

/*navigation main*/
.nav-main {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    text-transform: uppercase;
}

/*nav principal menu*/
.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 10px;
    letter-spacing: .07em;
}

.nav-main ul li a:hover {
    border-bottom: 1px solid black;
}
/*show products*/
.showproducts {
    width: 100%;
    height: 550px;
    background: url('./img/bgpicture.png') no-repeat left center/cover;
    padding-bottom: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction:  column;
    align-items: right;
    justify-content: right;
    letter-spacing: .07em;

}
.trianglebutton {
    display: inline;
    width: 150px;
    padding:10px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    background: url('./img/triangle.png') no-repeat right;
}
.image1 {
    width: 400px;
}
.strapline {
    background: #E0FF04;
    height: 60px;
    line-height: 60px;
}
.strapline h3 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: .200em;
}
.newinslider-separator {
    background: white;
    height: 50px;
    padding-top: 60px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: .200em;
    font-size: 12px;
    
}
.newinslider-separator::before, .newinslider-separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #E0FF04;
}
.newinslider-separator::before {
    margin-right: 1em;
}
.newinslider-separator::after {
    margin-left: 1em;
}
.slider {
    width: 100%;
    height: 100%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-box {
    width: 276px;
    height: 400px;
    background-color:white;
}

.model {
    height: 276px;
    max-height: 100%;
    max-width: 100%;
    margin: 10px 10px;
    align-items: center;
    
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.details p{
    letter-spacing: 0.07em;
    font-size: 10px;
}
.product-name{
    padding-bottom: 5px;
}
.product-brand {
    color:rgb(168, 168, 168);
}
.product-shop {
    letter-spacing: 0.07em;
    font-size: 10px;
    padding-top: 5px;
}
.details a {
    border-bottom: 1px solid #E0FF04;
    
}

.cards-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin: 10px, 0;
    text-align: center;  
    position: relative; 
    justify-content: center;
    align-items: center; 
    }
    .text-block {
        position: absolute;
        bottom: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.15em;
        text-align: center;
      }
    .cards-area img{
        width: 100%;
        height: 100%;
    }
    .cards-area a{
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.07em;
    }